<div class="banner-container">
  <div class="banner-nav-bar">

  <div><h1><i class="fas fa-play"></i><span class="logo-title"> All Lists of Movies </span></h1></div>

<ul class="banner-ul">
 <% @lists.each do |list| %>
   <li><%= link_to list.name, list_path(list) %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
      </li>
 <% end %>
</ul>

<p class = "btn-style"> <%= link_to "Create New List", new_list_path %> </p>

  </div>
</div>
