<div>

  <div><h1 class = "text-center my-4 display-4" ><i></i><span> Movie List </span></h1></div>

<div class = "cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key %>')">
    <%= list.name %>
    <%= link_to '', list_path(list), class: 'card-list-link' %>
  </div>
<% end %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="btn btn-flat text-decoration-none">
<p> <%= link_to "Create New List", new_list_path %> </p>
</div>

</div>
